.signin
{
  height: 100%;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  color: #ffffff;
}

.signin-form
{
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 40px;
}

.signin-form h1
{
  margin: 0;
  margin-bottom: 1em;
}

.signin .btn-signin
{
  margin-top: 16px;
}

.logo
{
  display: block;
  max-width: 90%;
  max-height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signin-form .footer
{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
}

.small
{
  color: #cccccc;
}

h2
{
  text-align: center;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 50px #333333 inset;
    -webkit-text-fill-color: #ffffff;
}
