html,
body
{
  height: 100%;
  color: #ffffff;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.small
{
  font-size: 0.8rem;
}

.center
{
    text-align: center;
}

a
{
  color: #ffffff;
  text-decoration: none;
}

#root,
#container
{
  height: 100%;
}

input:invalid
{
  box-shadow: none;
}
